<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zachary.clock" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyService" >
        </service>

        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
        <receiver android:name=".BroadcastBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </receiver>
        <receiver android:name=".BroadcastShutdown">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses_permission android:name="android.permission.STATUS_BAR_SERVICE" android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
